.app-wrapper{
  display: flex;
  justify-content: center;
}
.app-body{
  display: grid;
  grid-template-rows:1fr; 
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "h h"
  "n c";
  grid-gap: 20px;
  width: 800px;
}
textarea{
  resize: none;
}