.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header img {
    width: 60px;
}

.loginBlock {
    margin-right: 20px;
    color: white;
}