text{
    font-family: Calibri;
}
.content {
    grid-area: c;
}

.info {
    display: flex;
}

.photo {
    margin: 5px;
    width: 150px;
    height: 150px;
}

.info__text_block {
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
}

.info__text_block__name {
    font-size: 30px;
    margin-bottom: 0px;
}
.info__photo{
    margin: -5px;
    display: flex;
    flex-direction: column;

}
.edit_button{
    text-align: center;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 3px 6px;
    background: rgb(114, 114, 114);
}
.edit_button:hover{
    background: rgb(162, 162, 162);
}
.contacts{
    display: flex;
    flex-flow:wrap;
    box-sizing: border-box;
}
.contacts__contact{
}