.content{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #7a7a7a;
}
.content:hover{
    background-color: #333333;
}
.avatar{
    width: 50px;
    border-radius: 50%;
}
.name{
    color: white;
}