.app-wrapper{

  display: flex;
  justify-content: center;
}
.app-body{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "h h"
  "n c"
  "n p"
;
  grid-gap: 20px;
  width: 1000px;
  padding-bottom: 100px;
}
textarea{
  resize: none;
}